# Node modules and build artifacts
node_modules

# Package and dependency files
package.json
package-lock.json
tsconfig.json
public/manifest.json

# Environment files
.env

# System files
.DS_Store

# Git-related
.git
.gitignore

# IDE and editor configs
.vscode
.idea
README.md

